<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>Admin Panel Beta Mode</title>
    <!-- using online links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/login.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/main.css">
    <link rel="stylesheet" href="~/Content/sidebar-themes.css">
    <link rel="shortcut icon" type="image/png" href="~/img/favicon.png" />
</head>
<body>

   
    <div class="page-wrapper default-theme sidebar-bg bg1 toggled">
        @Html.Partial("_LoginPartialPage")
        <main class="page-content pt-2">
            <div id="overlay" class="overlay"></div>
            <div class="container p-1">
                @RenderBody()

                <div>
                    <input type="hidden" id="usrname" value="@User.Identity.Name" />
                </div>
                <div id="body">

                    <div id="chat-circle" class="btn btn-raised">
                        <div id="chat-overlay"></div>
                        <i class="material-icons">chat</i>
                    </div>

                    <div class="chat-box">
                        <div class="chat-box-header">
                            ChatBot
                            <span class="chat-box-toggle"><i class="material-icons">close</i></span>
                        </div>
                        <div class="chat-box-body">
                            <div class="chat-box-overlay">
                            </div>
                            <p class="chat-logs">

                            </p><!--chat-log -->
                        </div>
                        <div class="chat-input">
                            <form>
                                <input type="text" id="chat-input" placeholder="Send a message..." />
                                <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
                            </form>
                        </div>
                    </div>
                </div>


                <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
                <script src="~/signalr/hubs"></script>
                @*<script src="~/Scripts/login.js"></script>*@

                <script>
                    $(function () {
                        var INDEX = 0;
            var chat = $.connection.chatHub;
            $("#chat-submit").click(function (e) {
                e.preventDefault();
                var msg = $("#chat-input").val();
                if (msg.trim() == '') {
                    return false;
                }
            })

            chat.client.addNewMessageToPage = function (@User.Identity.Name, message) {
                if ( @User.Identity.Name === "admin")
                {
                    INDEX++;

                    $('.chat-logs').append('<p style="color:green; text-align:left;text-transform:inherit; width:500px"><strong><img = src="https://www.phplivesupport.com/pics/icons/avatars/public/avatar_7.png" title="Admin">'
                        + ' </strong> ' + htmlEncode(message) + '</p>');

                }
                else if ( @User.Identity.Name != "admin")
                {
                    INDEX++;

                    $('.chat-logs').append('<p style="color:blue;text-align:right;"><strong><img = src="https://www.phplivesupport.com/pics/icons/avatars/public/avatar_71.png" title="User">'
                        + ' </strong> ' + htmlEncode(message) + '</p>');

                }
                $("#cm-msg-" + INDEX).hide().fadeIn(300);
                $(".chat-logs").stop().animate({ scrollTop: $(".chat-logs")[0].scrollHeight }, 1000);
                $("#chat-input").attr("disabled", true);
            };

           // $('#displayname').val(prompt('Enter your name:', ''));

            $('#chat-input').focus();

            $.connection.hub.start().done(function () {
                $('#chat-submit').click(function () {

                    chat.server.send(('@User.Identity.Name'), $('#chat-input').val());

                    $('#chat-input').val('').focus();
                });
                        });
                        $("#chat-circle").click(function () {
                            $("#chat-circle").toggle('scale');
                            $(".chat-box").toggle('scale');
                        })

                        $(".chat-box-toggle").click(function () {
                            $("#chat-circle").toggle('scale');
                            $(".chat-box").toggle('scale');
                        })
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
                    }
                   
                </script>

            </div>
        </main>

        <div class="col-md-12">
            <footer>
                <center>
                    <p><strong>Copyright © @DateTime.Now.Year - <a href="">My Tube</a>.</strong> All rights reserved.</p>
                </center>
            </footer>
        </div>
    </div>
    
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
        </script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

        <script src="~/Scripts/main.js"></script>
        @Scripts.Render("~/bundles/jquery") @Scripts.Render("~/bundles/bootstrap") @Scripts.Render("~/bundles/signalr") @RenderSection("scripts", required: false)

</body>
</html>
